strong {
  color: red;
}

em {
  color: blue;
}

.highlight {
  font-size: 18;
}

pre {
  font-size: 18;
}


table {
  border: 1px solid #999999;
  background-color: #666666;
  border-collapse: collapse;
}
th {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}
tr:nth-child(odd) {
  color: #ffffff;
  background-color: #333333;
}
td {
  color: #ffffff;
}
